.asus-container1{
    width: 100%;
    background: url('../background/02012001.jpg');
    background-size: cover;
    background-position: center;
}
.msi-container1{
    width: 100%;
    background: url('../background/02012001.jpg');
    background-size: cover;
    background-position: center;
}
.gigabyte-container1{
    width: 100%;
    background: url('../background/02012001.jpg');
    background-size: cover;
    background-position: center;
}
.lenovo-container1{
    width: 100%;
    background: url('../background/02012001.jpg');
    background-size: cover;
    background-position: center;
}
.dell-container1{
    width: 100%;
    background: url('../background/02012001.jpg');
    background-size: cover;
    background-position: center;
}
.hp-container1{
    width: 100%;
    background: url('../background/02012001.jpg');
    background-size: cover;
    background-position: center;
}
.asus-container1,
.msi-container1,
.gigabyte-container1,
.lenovo-container1,
.dell-container1,
.hp-container1 {
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* Media query for screens up to 1000px wide */
@media (max-width: 1000px) {
    .asus-container1,
    .msi-container1,
    .gigabyte-container1,
    .lenovo-container1,
    .dell-container1,
    .hp-container1 {
        width: 100%; /* or adjust the width as needed for smaller screens */
    }
}

/* Media query specifically for iPhone 12 Pro */
@media only screen 
  and (min-device-width: 428px) 
  and (max-device-width: 926px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    .asus-container1,
    .msi-container1,
    .gigabyte-container1,
    .lenovo-container1,
    .dell-container1,
    .hp-container1 {
        /* Adjust styles for iPhone 12 Pro */
        /* For example, you might want to reduce the width or make other adjustments */
        width: 80%;
    }
}
