
  .a{
      justify-content: center;
      text-align: center;
      margin: 0 auto;
  }

  .Blog_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 150px;
    padding-bottom: 150px;  
    text-align: center;
    
  }
  
  .blogdetail_overlay {
    background-color: #feeff3;
    padding: 20px;
    border-radius: 20px;
    max-width: 600px;
  }
  
  .blog_text {
    text-align: center;
  }
  .section_head{
    padding-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 28%;
   
    text-align: center;
  }
  @media only screen and (max-width: 768px) {
    .Blog_container {
      padding-top: 100px; 
      padding-bottom: 100px;
    }
  
    .blogdetail_overlay {
      padding: 15px; 
      border-radius: 15px;
      max-width: 90%;
      margin: 0 auto; 
    }
  
    .section_head {
      padding-top: 10%;
      padding-bottom: 20%;
    }
  }