.Blog_container {
    text-align: center;
    padding-top: 100px;
  }
  
  .peach_content {
    width: 100%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
  .peach_content .blog_item img {
    border-radius: 30px;
  }
  .peach_overlay {
    background-color: #feeff3;
    padding: 20px;
    border-radius: 20px;
  }
  .peach_overlay > h4 {
    font-weight: bold;
    text-align: center;
  }
  .sub_title{
    color: white;
    align-items: center;

    
  }
  .blog_item{
    text-align: center;
    justify-content: center;
  }
  .Blog_container .image{
    position: absolute;
  }
  @media only screen and (max-width: 768px) {
    .peach_content {
        grid-template-columns: 1fr; /* Change to a single column layout */
        gap: 20px; /* Adjust gap for smaller screens */
    }

    .peach_overlay {
        padding: 10px; /* Adjust padding for smaller screens */
        border-radius: 10px; /* Adjust border radius for smaller screens */
    }

    .peach_overlay > h4 {
        font-size: 18px; /* Adjust font size for smaller screens */
    }

    .peach_content .blog_item img {
        border-radius: 15px; /* Adjust image border radius for smaller screens */
    }

    .blog_item {
        text-align: center;
    }

    .Blog_container .img{
        position: static; 
        width: 80%;
        height: 60%;
    }
    .Blog_container {
padding: 0;
margin: 0;
  }
    
    .blogall {
      padding-top:0% ;
  }
  
    .blog_text p {
      font-size: 10px;
      text-align: center;
      margin-bottom: 10%;
  }
}

