.brand-logos-container {
  display: flex;
 width: 200px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}
.boxlogo{
  width: 1000px;
  height: 100px;
  margin:30px;
  
  text-align: center;
}
.boxlogo img{
padding-top: 10%;
margin-bottom: 10%;
}
.brand-logos {
  width: 100%;
  margin-left:10% ;
  margin-right: 10%;
  display: flex;
  white-space: nowrap;
  animation: move 6s steps(5, start) infinite;}


/* @keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200px);
  }
} */