.bodyhome{
	padding-top: 5%;
}
.sliderhome {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 960px;
  }
  
  .sliderhome::before,
  .sliderhome::after {
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	content: "";
	height: 100px;
	position: absolute;
	width: 100px;
	z-index: 2;
  }
  
  .sliderhome::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
  }
  
  .sliderhome::before {
	left: 0;
	top: 0;
  }
  
  .slide-track {
	animation: scroll 40s linear infinite;
	display: flex;
	width: calc(250px * 24);
  }
  
  .slidehome {
	height: 100px;
	width: 250px;
	margin: 15px;
  }
  
  @keyframes scroll {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(calc(-250px * 7));
	}
  }

@media only screen and (max-width: 768px) {
	.sliderhome {
	  width: 90%;
	  max-width: 100%; 
	  height: 50%;
	  overflow: hidden;
	}
	
	.slide-track {
	  width: calc(150px * 24); 
	}
  
	.slidehome {
	  width: 100%; 
	  margin: 10px; 
	}
	.slidehome img{
		width: 60%;
		height: 50%;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin-top: 10%;
		margin-left: 10%;
		
	}

  }
  