.product-comparison-container {
    display: flex;
    margin-top: 30px;
    padding-top: 4.5%;
  }
  
  .product-column {
    flex: 1;
    padding: 20px;
  }
  
  .main-product {
    background-color: #f2f2f2;
  }
  
  .similar-products {
    background-color: #e6e6e6;
  }
  
  .product-column img {
    max-width: 100%;
    height: auto;
  }
  
  .navigation-buttons {
    margin-top: 10px;
  }
  
  .compare-link-container {
    margin-top: 20px;
  }
  
  .compare-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  .rowdetailcompare {
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 30% 70%;
  }
  
  .col-xs-4compare {

   border: 1px solid rgba(0, 0, 0, 0.295);
   margin-left: 5%; 
   margin-right: 5%;
  }
  
  .col-xs-8compare {
    padding-left: 5px;
    display: grid;
    border: 1px solid rgba(0, 0, 0, 0.295);
    margin-right: 5%;
  }
  @media (min-width: 768px) {
    .col-xs-4compare{
      text-align: left;
    }
  } 
  @media (max-width: 768px) {

  
    .col-xs-4compare,
    .col-xs-8compare {
      font-size: 7px;
      margin-left: 2%; 
      margin-right: 2%; 
      align-items: center;
      text-align: center;
    }
    .navigation-buttons button{
      width: 40px;
      font-size: 5px;
     
    }
  }