/* Common styles for product items */
.productItem {
  width: 50%;
  border: 3px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  background: url('../background/4884841.jpg');
  background-size: cover;
  background-position: 100px;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: grid; 
  grid-template-columns: 40% 60%;
  
  
}

.productInfo {
  flex-grow: 1;
  flex-direction: column;
  display: grid;
 
  padding: 10px;
}

.productName {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  width: 100%;
}

.productPrice {
  font-size: 15px;
  color: rgb(249, 19, 19);
  text-align: left;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-bottom: 10px;
  width: 100%;
}

.addToCart {  
  
  margin-top: 30px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 40%;
}

/* Container for product items */
.containerboxes {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  flex-wrap: wrap;
  
  
}

/* Image styling */

.pagination{
  text-align: center;
}
.productimg {
  width: 100%;
  border: 2px solid;
  background-color: white;
  border-radius: 30px;
  width: 80%;
  height: 200px;
  object-fit: cover;
  display: grid;

}
.productimg img{
  
  width: 90%;


}

/* Responsive styles for small screens */
@media only screen and (max-width: 768px) {
  .productItem {
    width: 90%;
    margin: 5px;
  }

  .addToCart {
    width: 90%;
    padding-left: 5%;
    margin-left: 10px ;

  }

  .productInfo {
    padding: 5px;
  }
  .productPrice{
    text-align: center  ;
  }
  .productimg{
   
    width: 100%;
    align-items: center;
    display: flex;
    height: 100%;
  }
  .productimg td img{
    width: 100%;
  }
}

/* Further responsive adjustments for smaller screens like iPhone 12 Pro */
@media only screen and (max-width: 375px) {
  .productItem {
    width: calc(50% - 10px);
    margin: 5px;
  }
}
