.devregister{
    padding-top: 10%;
    padding-bottom: 10% ;
}
.register-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.register-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
   
}

.register-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #1095c1;
    color: white;
    cursor: pointer;
    
}

.register-container p {
    text-align: center;
    
}

.register-container a {
    text-decoration: none;
    color: #1095c1;
}
.registertext{
  padding-bottom: 10%;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
    .devregister {
      padding-top: 50%; 
      padding-bottom: 50%; 
    }
  
    .register-container {
      width: 80%; 
      max-width: 300px;
      margin: 0 auto;
      padding: 15px; 
    }
  
    .register-container input,
    .register-container button {  
      padding: 8px; 
      margin-bottom: 8px; 
    }
  
    .register-container p {
      font-size: 14px; 
  }
  .registertext{
    padding-bottom: 9%;
    font-size: 20px;
    font-weight: 300;
  }
}