.btn-sort {
    background-color: darkgray;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: none;
    height: 50px;
    width: 160px;
    transition: 0.5s;
  }
  .container-sort{
    display: flex;
  }
  .sort-price{
    background-color: darkgray;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: none;
    height: 50px;
    width: 160px;
    transition: 0.5s;
  }
  .sort-name{
    background-color: darkgray;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: none;
    height: 50px;
    width: 160px;
    transition: 0.5s;
  }
  .sort-name:hover{
    background-color: red;
  }
  .sort-price:hover{
    background-color: red;
  }
  
  .sort {
    position: relative;
    display: inline-block;
  }
  
  .sort-content {
     display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  }
  
  .sort-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .sort-content a:hover {background-color: #ddd;}
  
  .sort:hover .sort-content {display: block;}
  
  .sort:hover .btn-sort {background-color: #f73838;}
  .container-satan{
  background-image: url("https://i.pinimg.com/564x/e1/ea/90/e1ea905ca97791eac231e8b55237d96d.jpg");
  }