* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .body {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 100vh;
    max-width: 100%;
  }
  
  .cardasus {
    margin: 200px;
    margin-bottom: 0;
    margin-top: 210px;
    position: relative;
    width: 600px;
    height: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(135deg, #ddf952, #8c30e2);
  }
  
  .cardasus img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 400px;
    transition: 0.5s;
  }
  
  .cardasus:hover img {
    left: 80%;
    height: 450px;
  }
  
  .cardasus .content {
    position: relative;
    width: 80%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  
  .cardasus:hover .content {
    left: 0%;
    opacity: 1;
    visibility: visible;
  }
  
  .cardasus .content h2 {
    color: white;
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 1.5em;
  }
  
  .cardasus .content p {
    color: white;
    padding-left: 2px;
  }
  
  .cardasus .content a {
    position: relative;
    display: inline-block;
    background: white;
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
  }
  
  .cardasus .content a:hover {
    background-color: #03cad8;
    color: white;
  }
  
 /* ... Your existing styles ... */

/* Media query specifically for iPhone 12 Pro */
@media only screen 
  and (min-device-width: 428px) 
  and (max-device-width: 926px) 
  and (-webkit-min-device-pixel-ratio: 3) {
  
  .cardasus {
    width: 90%;
    margin: 50px auto;
    height: 500px; /* Adjust the height as needed */
    margin-top: 100px;
  }

  .cardasus img {
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
  }

  .cardasus:hover img {
    left: 50%;
    height: 350px; /* Adjust the height as needed */
  }

  .cardasus .content {
    width: 100%;
    left: 0;
    padding: 20px;
  }

  .cardasus .content h2 {
    font-size: 1.8rem; /* Adjust the font size as needed */
  }

  .cardasus .content p {
    font-size: 0.8rem; /* Adjust the font size as needed */
  }
}

  
  .video-asus {
    text-align: center;
    margin-top: 100px;
    width: 100%;
  }
  